.main-footer {
		@extend %marginAuto;
		justify-content: space-around;
		/*background-color: $color-footer-background;*/
	}

.main-footer a {
	color: $color-footer-a;
	
	@extend %padding;
}

@include respond-to(mobile) {
	.sub {
		&-nav {
			display: none;
		}

		&-name {
			font-size: $font-size-sub-name;
			margin: auto;
			text-shadow: 2px -2px 6px rgba($color-h2-shadow, .9);
		}
	}
}

@include respond-to(tablet) {
	.sub {
		&-nav {
			font-size: $font-size-sub-nav-tablet;
		    font-weight: bolder;
		    margin: auto;
		    display: flex;
		    padding-left: 40%;
		}

		&-nav li {
			margin: 5px;
			text-align: right;
		}

		&-name {
			font-size: $font-size-sub-name-tablet;
			text-shadow: 2px -2px 6px rgba($color-h2-shadow, .9);
			flex-direction: $flex-direction-sub-name-tab;
			padding-left: 30px;
		}
	}
}

@include respond-to(desktop) {
	.sub {
		&-nav {
			padding-left: 37%;
		}

		&-name {
			padding-left: 55px;
		}
	}
}