// Text sizes and positioning

@mixin sizes($width-frame, $height-frame: null, $margin-auto: null, $margin-top: null, $margin-bottom: null) {
	width: $width-frame;
	height: $height-frame;
	margin: $margin-auto;
	margin-top: $margin-top;
	margin-bottom: $margin-bottom;
}

// Img width
@mixin imgWidth($width) {	
	.img-1,
	.img-2,
	.img-3,
	.img-4,
	.img-5,
	.img-6 {
		width: $width;
	}
}

//Media querie 
@mixin respond-to($media) {
	@if $media == mobile {
		@media (min-width: 320px) { @content; }	
	}
	@else if $media == tablet {
		@media (min-width: 768px) { @content; }
	}
	@else if $media == desktop {
		@media (min-width: 1024px) { @content; }
	}
}
